<!DOCTYPE html >


<html xmlns:th="http://www.thymeleaf.org">
<head>
        <script type="text/javascript"
                src="/static/js/jquery-3.3.1/jquery-3.3.1.min.js"></script>
        <link
                href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css"
                rel="stylesheet">
        <script
                src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

        <title>学生</title>

    <script>
        $(function () {
            $("ul.pagination li.disabled a").click(function () {
                return false;
            });
        });
    </script>
</head>

<body>

<!--/*@thymesVar id="name" type="Java"*/-->
<p th:text="'Hello!!!, ' + ${name} + '!'">3333</p>
<p th:text="3 - 1 + '!'">3333</p>
<a th:href="@{/editStudent/(id=1)}">aaa</a>
<a th:href="@{www.baidu.com}">aaa</a>
<a th:href="@{/deleteStudent/(id=1)}">aaa</a>

<div class="listDIV">
    <table class="table table-striped table-bordered table-hover table-condensed">

        <caption >
        <!--/*@thymesVar id="page" type="java"*/-->
        <p th:text=" '学生列表  共'+${page.total}+'人'">学生列表</p>
        </caption>
        <thead>
        <tr class="success">
            <th>学号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>出生日期</th>

            <th>编辑</th>
            <th>删除</th>
        </tr>

        </thead>

        <tbody>
            <!--/*@thymesVar id="students" type="java"*/-->
            <tr th:each="s: ${students} ">
                <td th:text="${s.id}">student_id</td>
                <td th:text="${s.name}">name</td>
                <td th:text="${s.age}">age</td>
                <td th:text="${s.sex}">sex</td>
                <td th:text="${s.birthday}">birthday</td>
                <td> <a th:href="@{/editStudent/(id=${s.id})}"><span class="glyphicon glyphicon-edit">编辑</span></a></td>
                <td> <a th:href="@{/deleteStudent/(id=${s.id})}"><span class="glyphicon glyphicon-trash">删除</span></a></td>
            </tr>
        </tbody>
    </table>
</div>

<nav class="pageDIV">
        <tr class="pagination">
        <td  th:if="${!page.hasPreviouse}" th:class="disabled" >
            <a th:href="${page.start==0}" href="?page.start=0">
                <span>«</span>
            </a>
        </td>

        <!--/*@thymesVar id="page" type="java"*/-->
        <td th:if="${page.hasPreviouse  }" th:class="disabled">
            <a th:href="${page.start==(page.start - page.count)}" href="?page.start=${page.start-page.count}">
                <span>‹</span>
            </a>
        </td>

        <td th:each="static :${page.totalPage-1}" varStatus="status">

            <span  th:if ="${(status.count * page.count - page.start) <= 30 && (status.count * page.count - page.start >= 10)}">
                <span test="${status.index*page.count==page.start}" class="disabled">
                    <a href="?page.start=${status.index*page.count}"
                       th:if ="${(status.index * page.count) == page.start}" class="current" th:text="${status.count}">
                    </a>
                </span>
            </span>
        </td>

        <td th:if ="${!page.hasNext}" class="disabled">
            <a href="?page.start=${page.start+page.count}">
                <span>›</span>
            </a>
        </td>
        <td th:if ="${!page.hasNext}">class="disabled">
            <a href="?page.start=${page.last}">
                <span>»</span>
            </a>
        </td>
        </tr>
</nav>

<div class="addDIV">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">增加学生</h3>
        </div>
        <div class="panel-body">

            <form method="post" action="/addStudent" role="form">
                <table class="addTable">
                    <tr>
                        <td>学号：</td>
                        <td><input type="text" name="student_id" id="student_id" placeholder="请在这里输入学号"></td>
                    </tr>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="name" id="name" placeholder="请在这里输入名字"></td>
                    </tr>
                    <tr>
                        <td>年龄：</td>
                        <td><input type="text" name="age" id="age" placeholder="请在这里输入年龄"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td><input type="radio" class="radio radio-inline" name="sex" value="男"> 男
                            <input type="radio" class="radio radio-inline" name="sex" value="女"> 女
                        </td>
                    </tr>
                    <tr>
                        <td>出生日期：</td>
                        <td><input type="date" name="birthday" id="birthday" placeholder="请在这里输入出生日期"></td>
                    </tr>
                    <tr class="submitTR">
                        <td colspan="2" align="center">
                            <button type="submit" class="btn btn-success">提 交</button>
                        </td>

                    </tr>

                </table>
            </form>
        </div>
    </div>

</div>


</body>
</html>
